#info {
    float: right;
    height: 500px;
    width: 750px;
    margin-right: 12%;
    border: 1px solid #DDDDDD;
    overflow: hidden;
    word-wrap: break-word;
}

#channel, #title, #date {
  margin-bottom: 70px;
  margin-top: 60px;
  margin-left: 70px;
}

#channel-info {
  font-weight: bold;
  color: #898989;
  font-size: 24px;
  width: 600px;
}

#channel-info-data {
  color: #9A9696;
  font-size: 18px;
  width: 600px;
}

@media (max-width: 1750px) {
  #info {
      height: 450px;
      width: 700px;
  }

  #channel-info {
    font-size: 22px;
    width: 550px;
  }

  #channel-info-data {
    font-size: 16px;
    width: 550px;
  }

  #channel, #title, #date {
    margin-bottom: 60px;
    margin-top: 50px;
    margin-left: 60px;
  }
}

@media (max-width: 1600px) {
  #info {
      height: 400px;
      width: 600px;
  }

  #channel-info {
    width: 450px;
    font-size: 20px;
  }

  #channel-info-data {
    width: 450px;
    font-size: 14px;
  }

  #channel, #title, #date {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
  }

}

@media (max-width: 1430px) {
  #info {
      height: 375px;
      width: 500px;
  }

  #channel-info {
    width: 400px;
  }

  #channel-info-data {
    width: 400px;
  }

  #channel, #title, #date {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 1210px) {
  #info {
    height: 350px;
    width: 400px;
  }

  #channel-info {
    width: 300px;
    font-size: 18px;
  }

  #channel-info-data {
    width: 250px;
    font-size: 12px;
  }
}

@media (max-width: 1040px) {
  #info {
      height: 300px;
      width: 300px;
  }

  #channel-info {
    width: 175px;
    font-size: 16px;
  }

  #channel-info-data {
    width: 200px;
    font-size: 12px;
  }

  #channel, #title, #date {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
  }
}
