#media-block {
    border: 3px solid #E5E5E5;
    width: 500px;
    height: 500px;
    margin-left: 12%;
    margin-bottom: 8.7%;
    float: left;
}

#media-block:hover {
    opacity: 0.85;
    border: 3px solid #C4C4C4;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
