p#header-info-text {
    font-size: 16px;
    margin-left: 12%;
    color: #AEAEAE;
}

p#header-info-description {
    font-size: 16px;
    margin-left: 12%;
    color: #9A9696;
}

hr {
    width: 500px;
    margin-left: 12%;
    border-color: #E5E5E5;
    background-color: #E5E5E5;
    color: #E5E5E5;
    height: 1px;
    border: 0;
}

@media (max-width: 1430px) {
  p#header-info-text {
      font-size: 14px;
  }

  p#header-info-description {
      font-size: 14px;
  }

  hr {
      width: 375px;
  }
}

@media (max-width: 1040px) {
  p#header-info-text {
      font-size: 12px;
  }

  p#header-info-description {
      font-size: 12px;
  }

  hr {
      width: 300px;
  }
}
