body {
  font-size: 28px;
}

#rectangle {
    width: 76%;
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
    height: 100px;
    border: 3px solid #A4E4A1;
    margin-bottom: 60px;
}

#rectangle:hover {
    border: 3px solid #17AC10;
}

#header-title {
    margin-top: 32px;
    margin-left: 30px;
    float: left;
    font-weight: bold;
    color: #17AC10;
}

#header-blocks {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 18px;
    color: #17AC10;
    float: left;
}

#header-author {
    color: #17AC10;
    margin-top: 42px;
    margin-right: 30px;
    float: right;
    font-size: 16px;
}

a {
    color: #17AC10;
    text-decoration: none;
}

@media (max-width: 1040px) {
  body {
    font-size: 24px;
  }

  #header-author {
    font-size: 14px;
  }

  #header-blocks {
    margin-top: 43px;
    font-size: 16px;
  }

  #header-title {
    margin-top: 36px;
  }

}
