#block {
    border: 3px solid #E5E5E5;
    width: 500px;
    height: 500px;
    margin-left: 12%;
    margin-bottom: 8.7%;
    float: left;
}

#block:hover {
    opacity: 0.85;
    border: 3px solid #C4C4C4;
}

.text-data {
    display: -webkit-box;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 20px;
    color: #9A9696;
    margin: 10% 10% 10% 10%;
    font-size: 18px;
    object-fit: contain;
}
