#info {
    float: right;
    height: 500px;
    width: 750px;
    margin-right: 12%;
    margin-bottom: 9%;
    border: 1px solid #E5E5E5;
}

#channel, #title, #date {
  margin-bottom: 70px;
  margin-top: 60px;
  margin-left: 70px;
}

#channel-info {
  font-weight: bold;
  color: #9A9696;
  font-size: 24px;
}

#channel-info-data {
  color: #AEAEAE;
  font-size: 18px;
}
