#block {
    border: 1px solid #C4C4C4;
    width: 500px;
    height: 500px;
    margin-left: 12%;
    margin-bottom: 9%;
    float: left;
}

#block:hover {
    opacity: 0.85;
    border: 3px solid #C4C4C4;
    margin-left: 11.9%;
    margin-bottom: 8.78%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
