body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
}

#rectangle {
    width: 76%;
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
    height: 100px;
    border: 3px solid #A4E4A1;
    margin-bottom: 60px;
}

#rectangle:hover {
    border: 3px solid #17AC10;
}

#header-title {
    margin-top: 2.3%;
    margin-left: 2.4%;
    float: left;
    font-weight: bold;
    color: #17AC10;
}

#header-blocks {
    margin-top: 2.85%;
    margin-left: 3.5%;
    font-size: 18px;
    color: #17AC10;
    float: left;
}

#header-author {
    color: #17AC10;
    margin-top: 2.8%;
    margin-right: 2.4%;
    float: right;
    font-size: 16px;
}

a {
    color: #17AC10;
    text-decoration: none;
}
