#block {
    border: 1px solid #C4C4C4;
    width: 500px;
    height: 500px;
    margin-left: 12%;
    margin-bottom: 9%;
    float: left;
}

#block:hover {
    opacity: 0.85;
    border: 3px solid #C4C4C4;
    margin-left: 11.9%;
    margin-bottom: 8.78%;
}

#block:hover .text-data {
  margin: 9.9%;
}

.text-data {
    display: -webkit-box;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 20px;
    color: #AEAEAE;
    margin: 10% 10% 10% 10%;
    font-size: 18px;
    object-fit: contain;
}
